<div class=<%= message.user == current_user ? "container-message-current-user" : "container-message-other-user" %> id="message-<%= message.id %>">
  <div class="author">
    <span><%= message.user.username %></span>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </div>
  <div class="content-message">
    <p class="content"><%= message.content %></p>
  </div>
</div>
