<div class="container-edit">
  <div class="affiche">
    <div class="container-info_match">
      <div class="first_player">
        <% if current_user.rank == 1%>
          <span class="crown"><%= image_tag("crown.svg") %></span>
        <% elsif current_user.rank == 10%>
          <span class="crown"><%= image_tag("bonnet.svg") %></span>
        <% end %>
        <p class="name-user"><%= current_user.username %></p>
        <%= cl_image_tag current_user.photo.key, crop: :thumb, width: 75, height: 75, class: "photo-user" %>
      </div>
      <div class="versus">
        <p><%= @game.date.strftime('%H:%M')%></p>
        <h1>VS</h1>
        <p><%= @game.date.strftime('%d/%m')%></p>
      </div>
      <div class="second_player">
        <% if @other_player.rank == 1 %>
          <span class="crown"><%= image_tag("crown.svg") %></span>
        <% elsif @other_player.rank == 10 %>
          <span class="crown"><%= image_tag("bonnet.svg") %></span>
        <% end %>
        <p class="name-user"><%= @other_player.username %></p>
        <%= cl_image_tag @other_player.photo.key, crop: :thumb, width: 75, height: 75, class: "photo-user"  %>
      </div>
    </div>


    <div class="container-nba">
      <div class="left-star-player" style="background: <%= @game.team1.color %>">
        <div class="name_of_team">
          <p><%= @game.team1.name %></p>
        </div>
        <div class="logo-image" >
          <%=cl_image_tag(@game.team1.logo.key)%>
        </div>
        <div class="player_one_pick">
          <%= cl_image_tag(@game.team1.star_player_img.key, crop: :fill, height: 250, width: 250, :class => "left-star-payer") %>
        </div>
      </div>

      <div class="right-star-player" style="background: <%= @game.team2.color %>">
        <div class="name_of_team">
          <p><%= @game.team2.name %></p>
        </div>
        <div class="logo-image" >
          <%=cl_image_tag(@game.team2.logo.key)%>
        </div>
        <div class="player_two_pick">
          <%= cl_image_tag(@game.team2.star_player_img.key, crop: :fill, height: 250, width: 250, :class => "right-star-payer") %>
        </div>
      </div>
    </div>
  </div>


  <div class="container-bet">
    <div class="title-play">
      <i class="fas fa-chevron-down"></i>
      <h1 class="play">PLACE YOUR BET</h1>
      <i class="fas fa-chevron-down"></i>
    </div>
    <div class="item-bet">
      <div class="form-bet text-center">
        <%= simple_form_for @bet do |f| %>
          <%= f.input :winner,
              as: :radio_buttons,
              collection_wrapper_tag: 'div',
              collection_wrapper_class: 'category-wrapper-winner',
              item_wrapper_class: 'category-item-team',
              input_html: {class: 'category-selector'},
              value_method: :name,
              label_method: :name,
              collection: [@game.team1, @game.team2].flatten %>

          <%= f.input :top_scorer,
                      as: :radio_buttons,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'category-wrapper',
                      item_wrapper_class: 'category-item',
                      input_html: {class: 'category-selector'},
                      value_method: :name,
                      label_method: :name,
                      collection: [@game.team1.players, @game.team2.players].flatten %>

          <span class="trigger-scroll">See more players</span>

          <%= f.input :top_passer,
                      as: :radio_buttons,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'category-wrapper',
                      item_wrapper_class: 'category-item',
                      input_html: {class: 'category-selector'},
                      value_method: :name,
                      label_method: :name,
                      collection: [@game.team1.players, @game.team2.players].flatten %>

          <span class="trigger-scroll">See more players</span>

          <%= f.input :top_rebounder,
                      as: :radio_buttons,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'category-wrapper',
                      item_wrapper_class: 'category-item',
                      input_html: {class: 'category-selector'},
                      value_method: :name,
                      label_method: :name,
                      collection: [@game.team1.players, @game.team2.players].flatten %>

          <span class="trigger-scroll">See more players</span>

          <%= f.input :total_points,
                      as: :range,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'category-slider',
                      input_html: {type: "range", min: 100, max: 300 } %>

          <span class="btn btn-secondary" id="count-total-points"></span>


          <%= f.input :gap_points,
                      as: :range,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'category-slider',
                      input_html: {type: "range", min: 0, max: 50 } %>

          <span class="btn btn-secondary" id="count-gap-points"></span>

          <%= f.submit "PLACE YOUR BET NOW", class:'sendbet btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%# https://github.com/heartcombo/simple_form %>
