<% unless controller.controller_name == "pages" && controller.action_name == "home" %>
   <% if user_signed_in? %>
    <nav>
      <ul class="nav-items">
      <li class="nav-item">
          <%= link_to dashboard_path, class: "dashboard-bubble in-nav" do %>
            <%= image_tag('dashb.png', width: 32, height: 32 ,class: "icon_nav #{'active' if controller_name == 'dashboards' && action_name == 'show'}")%>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to league_path(current_user.member_leagues.first), class: "ranking in-nav" do %>
            <%= image_tag('ranking.png', class: "icon_nav #{'active' if controller_name == 'leagues' && action_name == 'show'}")%>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to edit_bet_path(current_user.next_bet), class: "basketball-ball" do %>
            <%= image_tag('basketball-ball.png')%>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to league_games_path(current_user.member_leagues.first) ,class: "calendar-check in-nav" do %>
            <%= image_tag('calendar-check.png', class: "icon_nav #{'active' if controller_name == 'games' && action_name == 'index'}")%>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: "boulon_settings in-nav" do %>
            <%= image_tag('boulon_settings.png', class: "icon_nav #{'active' if controller_name == 'leadfvgues' && action_name == 'show'}")%>
          <% end %>
        </li>
      </ul>
    </nav>
  <% end %>
<% end %>
