<div class="wrapper-calendar">
  <h1 class="title-calendar"><%= @league.name %></h1>
  <div class="calendar-games">
    <ul class="nav nav-pills mb-3 list-inline" id="pills-tab" role="tablist">
      <% @games.keys.each_with_index do |date, index| %>
        <li class="nav-item" role="presentation">
          <a class="nav-link <%= 'active' if is_last_date(date) %>" id="pills-<%= date %>-tab" data-toggle="pill" href="#pills-<%= date %>" role="tab" aria-controls="pills-<%= date %>" aria-selected="false">Game <%= index + 1 %></a>
        </li>
      <% end %>
    </ul>
  </div>
  <h2 class="conference">NBA WEST CONFERENCE</h2>

  <div class="tab-content" id="pills-tabContent">
    <% @games.each do |date, games| %>
      <div class="tab-pane fade <%= 'show active' if is_last_date(date) %>" id="pills-<%= date %>" role="tabpanel" aria-labelledby="pills-<%= date %>-tab">
        <% games.each do |game| %>
          <div class="game-calendar">
            <div class="calendar-user user_one text-white">
                <% if game.bets.first.user.rank == 1%>
                 <span class="crown"><%= image_tag("crown.svg") %></span>
                 <% elsif game.bets.first.user.rank == 10%>
                 <span class="crown"><%= image_tag("bonnet.svg") %></span>
                 <% end %>
              <span class="calendar-user-name <%= "user-active" if game.bets.first.user == current_user%>">
                <%=  game.bets.first.user.username %>
                <%= date %>
              </span>
              <%= cl_image_tag game.bets.first.user.photo.key,
                  crop: :thumb,
                  class: game.bets.first.user == current_user ? "avatar-active" : "avatar-small"
              %>
            </div>
            <%# Score a display ou vs %>
            <span class="game-calendar-score"> <%= game.bets.first.end_result %> - <%= game.bets.last.end_result %> </span>
            <div class="calendar-user user_two text-white">
              <%= cl_image_tag game.bets.last.user.photo.key,
                  crop: :thumb,
                  class: game.bets.last.user == current_user ? "avatar-active" : "avatar-small"
              %>
              <span class="calendar-user-name <%= "user-active" if game.bets.last.user == current_user%>">
              <%=  game.bets.last.user.username %>
              <% if game.bets.last.user.rank == 1%>
                 <span class="crown"><%= image_tag("crown.svg") %></span>
                 <% elsif game.bets.last.user.rank == 10%>
                 <span class="crown"><%= image_tag("bonnet.svg") %></span>
                 <% end %>
              </span>
            </div>
            <%# <p>(<%= game.date.strftime("%d-%m-%Y") )</p> %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
