<div class="container-dash">
  <div class="title">
    <h1>stan'sleague</h1>
  </div>
  <div class="dashboard">
    <div class="welcome">
      <h3>Welcome back <%= current_user.username %> !</h3>
    </div>
    <p class="title-box">Your next match</p>
    <div class="first-rang rang">
      <div class="top-container-nextmatch">
        <div class="first_player">
          <%= image_tag current_user.photo, crop: :thumb, width: 50, height: 50 %>
          <p><%= current_user.username %></p>
        </div>
        <div class="versus">
          <div class="versus-round">
            <p><%= @game.date.strftime('%H:%M')%></p>
            <h1>VS</h1>
            <p><%= @game.date.strftime('%d/%m')%></p>
          </div>
        </div>
        <div class="second_player">
          <%= image_tag @other_player.photo, crop: :thumb, width: 50, height: 50  %>
          <p><%= @other_player.username %></p>
        </div>
      </div>
      <div class="bottom-container-date-time">
        <div class="date-time">
          <p>IL NE VOUS RESTE PLUS QUE :</p>
          <p class="date-of-next-match"><%= @game.date%></p>
          <p>FOR BET</p>
        </div>
        <%= link_to 'BET NOW', edit_bet_path(current_user.next_bet), class: "bet-now"%>
      </div>
    </div>
  </div>
</div>

<%# https://www.sharemycode.fr/zbf %>
