<div class="container-home">
  <div class="container-league-home">
    <h1>stan'sleague</h1>
  </div>
  <div class="affiche">
    <div class="container-info_match">
      <div class="first_player">
        <%= image_tag current_user.photo, crop: :thumb, width: 75, height: 75 %>
      </div>
      <div class="versus">
        <p><%= @game.date.strftime('%H:%M')%></p>
        <h1>VS</h1>
        <p><%= @game.date.strftime('%d/%m')%></p>
      </div>
      <div class="second_player">
        <%= image_tag @other_player.photo, crop: :thumb, width: 75, height: 75  %>
      </div>
      <%= link_to 'BET NOW', edit_bet_path(current_user.next_bet), class: "bet-now"%>
    </div>

    <div class="container-nba">
      <div class="left-star-payer">
        <div class="name_of_team">
          <p><%= @game.team1.name %></p>
        </div>
        <div class="player_one_pick">
          <%= image_tag Team.find_by(name: @game.team1.name).players.sample.photo_url, :class => "star_img" %>
        </div>
      </div>
      <div class="right-star-payer">
        <div class="name_of_team">
          <p><%= @game.team2.name %></p>
        </div>
        <div class="player_two_pick">
          <%= image_tag Team.find_by(name: @game.team2.name).players.sample.photo_url, :class => "star_img" %>
        </div>
      </div>
    </div>
  </div>
  <div class="info-nba">
    <div class="info-nba-home">
      <div class="record card-info-nba">
        <div class="record-title">
          <p>Record</p>
        </div>
        <div class="record-info">
          <span>61</span><p>Win</p>
          <span>21</span><p>Losses</p>
        </div>
      </div>
      <div class="rank card-info-nba">
        <div class="rank-title">
          <p>Rank</p>
        </div>
        <div class="rank-info">
          <span>2</span><p>nd West</p>
        </div>
      </div>
      <div class="score-total card-info-nba">
        <div class="score-total-title">
          <p>Score Total</p>
        </div>
        <div class="score-total-info">
          <span>325</span><p>Points</p>
        </div>
      </div>
    </div>
    <div class="info-nba-visitor">
      <div class="record card-info-nba">
        <div class="record-title">
          <p>Record</p>
        </div>
        <div class="record-info">
          <span>38</span><p>Win</p>
          <span>32</span><p>Losses</p>
        </div>
      </div>
      <div class="rank card-info-nba">
        <div class="rank-title">
          <p>Rank</p>
        </div>
        <div class="rank-info">
          <span>8</span><p>nd West</p>
        </div>
      </div>
      <div class="score-total card-info-nba">
        <div class="score-total-title">
          <p>Score Total</p>
        </div>
        <div class="score-total-info">
          <span>230</span><p>Points</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%# https://www.sharemycode.fr/zbf %>
