<div class="container-home">
  <div class="container-league-home">
    <h1>stan'sleague</h1>
  </div>
  <div class="affiche">
    <div class="container-info_match">
      <div class="first_player">
        <%= image_tag current_user.photo, crop: :thumb, width: 75, height: 75 %>
      </div>
      <div class="versus">
        <p><%= @game.date.strftime('%H:%M')%></p>
        <h1>VS</h1>
        <p><%= @game.date.strftime('%d/%m')%></p>
      </div>
      <div class="second_player">
        <%= image_tag @other_player.photo, crop: :thumb, width: 75, height: 75  %>
      </div>
      <%= link_to 'BET NOW', "#", class: "bet-now"%>
    </div>

    <div class="container-nba">
      <div class="left-star-payer">
        <div class="player_one_pick">
          <%= image_tag Player.find_by(name: "Evan Fournier").photo_url, :class => "star_img" %>
        </div>
      </div>
      <div class="right-star-payer">
        <div class="player_two_pick">
          <%= image_tag Player.find_by(name: "Stephen Curry").photo_url, :class => "star_img" %>
        </div>
      </div>
    </div>
  </div>
  <div class="info-nba">

  </div>
</div>

<%# https://www.sharemycode.fr/zbf %>
